<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="MediaMonkeyDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=Test.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="AppDataPath" value="TestAppDataPath"/>
    <add key="WorkshopDirectory" value="TestWorkshopDirectory"/>
    <add key="MediaMonkeyStorageRoot" value="\\localhost\music"/>
    <add key="LocalStorageRoot" value="TestLocalStorageRoot"/>
    <add key="MoveSongFilesToLibrary" value="False"/>
  </appSettings>
</configuration>
