<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CF.Library.Core" version="1.0.0" targetFramework="net462" />
  <package id="Crc32.NET" version="1.1.0" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.0" targetFramework="net462" />
</packages>