<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="MusicLibraryEntities" connectionString="Data Source=d:\Dropbox\prog\.data\MusicLibrary.db;Foreign Keys=True" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="AppDataPath" value="d:\Dropbox\prog\.data\PandaPlayer" />
    <add key="LastFMApiKey" value="f2831f831bb20050711a078ea7e4f372" />
    <add key="LocalStorageRoot" value="d:\music.temp" />
    <add key="DiscCoverImageLookupPages1" value="https://www.google.com/search?q=&quot;{DiscArtist}&quot; &quot;{DiscTitle}&quot;&amp;dcr=0&amp;tbm=isch&amp;source=lnt&amp;tbs=isz:lt,islt:qsvga&amp;sa=X&amp;ved=0ahUKEwiW54Tn7r3WAhUkJJoKHUCwA9IQpwUIHg&amp;biw=1920&amp;bih=982&amp;dpr=1" />
    <add key="DiscCoverImageLookupPages2" value="https://www.discogs.com/search/?q={DiscArtist}+{DiscTitle}&amp;type=release" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>