<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CF.Library.Core" version="0.1.6462.25018" targetFramework="net462" />
  <package id="CF.Library.Unity" version="0.1.6463.16912" targetFramework="net462" />
  <package id="CF.Library.Wpf" version="0.1.6413.28910" targetFramework="net462" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net462" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net462" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net462" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="System.Data.SQLite" version="1.0.105.2" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net462" />
  <package id="System.Data.SQLite.EF6" version="1.0.105.2" targetFramework="net462" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.2" targetFramework="net462" />
  <package id="Unity" version="4.0.1" targetFramework="net462" />
</packages>