<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AppDataPath" value="d:\Dropbox\bin\.data\AlbumPreprocessor"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="WorkshopDirectory" value="d:\music.workshop\Gateway"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="LocalStorageRoot" value="d:\music"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="MoveSongFilesToLibrary" value="True"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>
</configuration>
